<% if user_signed_in? %>

<div class="back-button-container">
  <%= link_to root_path, class: 'btn btn-secondary' do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>

  <section class="tours-section booked-tours-section" style="margin-top: 0;">
    <h2 class="section-title">Mis Reservas</h2>
    <p>Tienes <%= @booked_experiences.count %> reserva(s).</p>
    <div class="tours-grid">
        <% @booked_experiences.each do |experience| %>
            <div class="tour-card">
                <div class="image-container">
                    <% if experience.photos.attached? %>
                        <%= cl_image_tag experience.photos.first.key, height: 300, width: 400, crop: :fill, alt: experience.title %>
                    <% end %>
                </div>
                <div class="tour-content">
                    <h3 class="tour-title"><%= experience.title %></h3>
                    <div class="tour-details">
                        <span><%= experience.description %></span>
                    </div>
                    <div class="price-container">
                        <% booking = current_user.bookings.find_by(experience: experience) %>
                        <% if booking %>
                          <span class="price"><%= booking.tickets %> tickets</span>
                        <% end %>
                    </div>
                    <div class="actions">

                         <%= link_to "Cancelar Reserva", booking_path(current_user.bookings.find_by(experience: experience)), method: :delete, data: {
                              controller: "alert",
                              alert_icon_value: "warning",
                              alert_title_value: "¿Estás seguro?",
                              alert_html_value: "Eliminar esta reserva.",
                              alert_confirm_button_text_value: "¡Sí, eliminar!",
                              alert_show_cancel_button_value: true,
                              alert_cancel_button_text_value: "Cancelar",
                              action: "click->alert#confirmDelete",
                              turbo: false
                            }, class: 'btn btn-danger rounded-btn' %>

                    </div>
                </div>
            </div>
        <% end %>
    </div>
  </section>
<% else %>
  <p>Por favor, inicia sesión para ver tus reservas.</p>
<% end %>
