<h1>Edit Profile</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :user_name %>  <!-- Cambia 'username' por 'user_name' -->
  <%= f.input :email %>
  <%= f.input :password, as: :password %>
  <%= f.submit 'Update Profile', class: 'btn btn-primary' %>
<% end %>
