<h1>Sign Up</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password, as: :password %>
  <%= f.input :municipality, label: 'Municipality' %>
  <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
