<div class="hero" style="margin-top: 0;">
    <div class="hero-image" style="background-image: url('https://res.cloudinary.com/diugmcj6k/image/upload/baup');">
        <div class="search-container">
            <%= form_with url: experiences_path, method: :get, local: true do %>
                <input type="text" name="search" class="search-box" placeholder="¿A dónde quieres ir? Busca tu próxima experiencia..." value="<%= params[:search] %>">
            <% end %>
        </div>
    </div>
</div>

<section class="tours-section">
    <h2 class="section-title">Experiencias destacadas</h2>
    <div class="tours-grid">
        <% @experiences.each do |experience| %>
            <div class="tour-card">
                <div class="image-container">
                    <% if experience.photos.attached? %>
                        <%= cl_image_tag experience.photos.first.key, height: 300, width: 400, crop: :fill, alt: experience.title %>
                    <% else %>
                        <%= image_tag 'default-image.jpg', height: 300, width: 400, alt: "Imagen por defecto" %>
                    <% end %>
                    <button class="favorite-button">
                    </button>
                </div>
                <div class="tour-content">
                    <div class="location-rating">
                        <span class="location"><%= experience.address %></span>
                        <div class="rating-container">
                            <span class="rating-star">★</span>
                            <span class="rating-number">4.92</span> <!-- Cambia esto según la lógica de tus calificaciones -->
                        </div>
                    </div>
                    <h3 class="tour-title"><%= experience.title %></h3>
                    <div class="tour-details">
                        <span><%= experience.description %></span>
                    </div>
                    <div class="price-container">
                        <span class="price"><%= number_to_currency(experience.price) %></span>
                        <span class="price-period">por persona</span>
                    </div>

                    <button class="btn-reserve" onclick="location.href='<%= experience_path(experience) %>'">Reservar</button>
                </div>
            </div>
        <% end %>
    </div>
</section>
