<div class="back-button-container">

</div>



<%= simple_form_for @experience do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :availability %>
    <%= f.input :address %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  </div>

  <div class="form-actions">
    <%= f.submit "Actualizar Experiencia", class: 'btn btn-primary' %>
    <% if current_user == @experience.user %>
      <%= link_to 'Eliminar', @experience, method: :delete, data: { confirm: '¿Estás seguro de que quieres eliminar esta experiencia?' }, class: 'btn btn-danger' %>

      <%= link_to 'Volver a la experiencia', experience_path(@experience), class: 'btn btn-secondary' %>
</div>
    <% end %>
  </div>
<% end %>
