<div class="form-title">
  <h1>Crear Nueva Experiencia</h1>
</div>

<%= simple_form_for @experience do |f| %>
  <div class="form-inputs mb-5">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :availability %>
    <%= f.input :address,
      input_html: { data: { address_autocomplete_target: "address" }, class: "mapboxgl-ctrl-geocoder d-none" },
      wrapper_html: { data: {
        controller: "address-autocomplete",
        address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
      }} %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>

    <div class="form-actions">
    <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, root_path, class: 'btn btn-secondary back-button' %>
      <%= f.submit "Crear Experiencia", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
